<section class="callback">
    <div class="container">
        <div class="callback__row">
            <h2 class="callback__heading">
                Выбираете банк для обслуживания? <br> Мы поможем определиться!
            </h2>
            <form action="/" method="POST" class="callback__form">
                <div class="callback__input-wrapper">
                    <input type="tel" name="tel" class="callback__input js-phone-input" required placeholder="+7">
                </div>
                <button type="submit" class="callback__submit-btn">
                    бесплатная консультация
                </button>
            </form>
        </div>
    </div>
</section>