<section class="currency">
    <div class="container">
        <div class="currency__row">
            <div class="currency__left-col">
                <div class="currency__converter js-tabs">
                    <div class="currency__converter-row">
                        <h2 class="currency__converter-top-heading">Курсы валют в <a href="#" class="currency__converter-top-city">Казани</a></h2>
                        <div class="currency__converter-nav">
                            <div class="tabs-nav">
                                <a href="#" class="tabs-nav__link js-tabs-nav active">
                                    Наличные
                                </a>
                                <a href="#" class="tabs-nav__link js-tabs-nav">
                                    Безналичный расчет
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="currency__bottom-block">
                        <div class="tab-items">
                            <div class="tab-items__item js-tabs-item active">
                                <div class="currency__card">
                                    <div class="currency__card-rates">
                                        <div class="currency__card-rates-table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <span class="hidden">
                                                                Валюта
                                                            </span>
                                                        </th>
                                                        <th>
                                                            Покупка
                                                        </th>
                                                        <th>
                                                            Продажа
                                                        </th>
                                                        <th>
                                                            ЦБ РФ
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                USD
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                65,13
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                65,13
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                EUR
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                72,24
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                75,24
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                77,68
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                GBR
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                77,68
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="currency__card-all-rates">
                                            <p class="currency__card-all-rates-remark">
                                                Курс актуален на 17:26, 12.10.18
                                            </p>
                                            <a href="#" class="currency__card-all-rates-link">Все курсы</a>
                                        </div>
                                    </div>
                                    <div class="currency__card-calculate">
                                        <h5 class="currency__card-calculate-description">
                                            Конвертер валют
                                        </h5>
                                        <div class="currency__card-calculate-widget js-currency-exchange">
                                            <input type="hidden" name="currency-ratio" class="currency__card-calculate-widget-ratio-input" value="0.012" />
                                            <div class="currency__card-calculate-widget-item currency__card-calculate-widget-item--top">
                                                <div class="currency__card-calculate-widget-range-wrapper">
                                                    <div class="range-slider range-slider--no-right-radius js-range-slider">
                                                        <input type="range" name="first-currency-amount" step="100" min="0" max="60000" class="range-slider__input" value="6500" />
                                                        <div class="range-slider__element-wrapper">
                                                            <div class="range-slider__amount">12 000</div>
                                                            <div class="range-slider__element"></div>
                                                        </div>
                                                        
                                                    </div>

                                                </div>
                                                <div class="currency__card-calculate-widget-select-wrapper">
                                                    <div class="custom-select custom-select--no-left-radius">
                                                        <select name="first-currency-name" class="custom-select__input js-custom-select">
                                                            <option value="RUB">RUB</option>
                                                            <option value="USD" selected>USD</option>
                                                            <option value="EUR">EUR</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="currency__card-calculate-divider">
                                                <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                                    <use xlink:href="#arrow-down" />
                                                </svg>
                                            </div>
                                            <div class="currency__card-calculate-widget-item">
                                                <div class="currency__card-calculate-widget-range-wrapper">
                                                    <div class="range-slider range-slider--no-right-radius js-range-slider">
                                                        <input type="range" name="first-currency-amount" step="100" min="0" max="60000" class="range-slider__input" value="40000" />
                                                        <div class="range-slider__element-wrapper">
                                                            <div class="range-slider__amount">12 000</div>
                                                            <div class="range-slider__element"></div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                                <div class="currency__card-calculate-widget-select-wrapper">
                                                    <div class="custom-select custom-select--no-left-radius">
                                                        <select name="first-currency-name" class="custom-select__input js-custom-select">
                                                            <option value="RUB" selected>RUB</option>
                                                            <option value="USD">USD</option>
                                                            <option value="EUR">EUR</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-items__item js-tabs-item">
                                <div class="currency__card">
                                    <div class="currency__card-rates">
                                        <div class="currency__card-rates-table-wrapper">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <span class="hidden">
                                                                Валюта
                                                            </span>
                                                        </th>
                                                        <th>
                                                            Покупка
                                                        </th>
                                                        <th>
                                                            Продажа
                                                        </th>
                                                        <th>
                                                            ЦБ РФ
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                USD
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                65,13
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                65,13
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                EUR
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                77,68
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                75,24
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                77,68
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="currency-name">
                                                                GBR
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate down">
                                                                77,68

                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="rate ">
                                                                67,32
                                                                <svg width="10" height="14" aria-hidden="true" class="icon-trend">
                                                                    <use xlink:href="#trend" />
                                                                </svg>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="currency__card-all-rates">
                                            <p class="currency__card-all-rates-remark">
                                                Курс актуален на 17:26, 12.10.18
                                            </p>
                                            <a href="#" class="currency__card-all-rates-link">Все курсы</a>
                                        </div>
                                    </div>
                                    <div class="currency__card-calculate">
                                        <h5 class="currency__card-calculate-description">
                                            Конвертер валют
                                        </h5>
                                        <div class="currency__card-calculate-widget js-currency-exchange">
                                            <input type="hidden" name="currency-ratio" class="currency__card-calculate-widget-ratio-input" value="0.012" />
                                            <div class="currency__card-calculate-widget-item currency__card-calculate-widget-item--top">
                                                <div class="currency__card-calculate-widget-range-wrapper">
                                                    <div class="range-slider range-slider--no-right-radius js-range-slider">
                                                        <input type="range" name="first-currency-amount" step="100" min="0" max="60000" class="range-slider__input" value="14000" />
                                                        <div class="range-slider__element-wrapper">
                                                            <div class="range-slider__amount">12 000</div>
                                                            <div class="range-slider__element"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="currency__card-calculate-widget-select-wrapper">
                                                    <div class="custom-select custom-select--no-left-radius">
                                                        <select name="first-currency-name" class="custom-select__input js-custom-select">
                                                            <option value="RUB">RUB</option>
                                                            <option value="USD">USD</option>
                                                            <option value="EUR" selected>EUR</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="currency__card-calculate-divider">
                                                <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                                    <use xlink:href="#arrow-down" />
                                                </svg>
                                            </div>
                                            <div class="currency__card-calculate-widget-item">
                                                <div class="currency__card-calculate-widget-range-wrapper">
                                                    <div class="range-slider range-slider--no-right-radius js-range-slider">
                                                        <input type="range" name="first-currency-amount" step="100" min="0" max="60000" class="range-slider__input" value="20000" />
                                                        <div class="range-slider__element-wrapper">
                                                            <div class="range-slider__amount">12 000</div>
                                                            <div class="range-slider__element"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="currency__card-calculate-widget-select-wrapper">
                                                    <div class="custom-select custom-select--no-left-radius">
                                                        <select name="first-currency-name" class="custom-select__input js-custom-select">
                                                            <option value="RUB" selected>RUB</option>
                                                            <option value="USD">USD</option>
                                                            <option value="EUR">EUR</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="currency__right-col">
                <a href="#" class="currency__info">
                    <img src="img/currency-banner.jpg" alt="" class="currency__info-image">
                    <h4 class="currency__info-heading">
                        Бесплатный мобильный банк
                    </h4>
                </a>
            </div>
        </div>
    </div>
</section>
