<section class="offices js-bank-offices">
    <div class="container">
        <h1 class="offices__heading">
            Офисы и банкоматы в
            <div class="offices__city">
                <div class="offices__city-current">
                    Казани
                </div>
                <div class="offices__city-dropdown">
                    <div class="offices__city-dropdown-inner">
                        <a href="#" class="offices__city-dropdown-link">
                            Н.Новгород
                        </a>
                        <a href="#" class="offices__city-dropdown-link">
                            Москва
                        </a>
                    </div>
                </div>
            </div>
            <a href="#"> </a>
        </h1>
        <form action="/" class="offices__filters">
            <div class="offices__filters-top-row">
                <div class="offices__filters-regular js-office-categories">
                    <label class="offices__checkbox">
                        <input type="checkbox" name="all" class="offices__checkbox-input" id="all-offices" />
                        <span class="offices__checkbox-content">
                            Все
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="offices" class="offices__checkbox-input" checked id="offices" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet">
                                <use xlink:href="#droplet" />
                            </svg>
                            Офисы
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="bankomats" class="offices__checkbox-input" checked id="bankomats" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet green">
                                <use xlink:href="#droplet" />
                            </svg>
                            Банкоматы “Банка Казани”
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="partners" class="offices__checkbox-input" checked id="partners-bankomats" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet blue">
                                <use xlink:href="#droplet" />
                            </svg>
                            Банкоматы партнеров
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="terminals" class="offices__checkbox-input" id="terminals" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet red">
                                <use xlink:href="#droplet" />
                            </svg>
                            Терминалы
                        </span>
                    </label>
                </div>
                <div class="offices__filters-regimes">
                    <label class="offices__checkbox">
                        <input type="radio" name="viewmode" class="offices__checkbox-input js-offices-results-view-toggle" checked />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet green">
                                <use xlink:href="#droplet-with-hole" />
                            </svg>
                            На карте
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="radio" name="viewmode" class="offices__checkbox-input js-offices-results-view-toggle" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-list-view green">
                                <use xlink:href="#list-view" />
                            </svg>
                            Списком
                        </span>
                    </label>
                </div>
            </div>
            <div class="offices__filters-bottom-row">
                <label class="catalog__filters-checkbox offices__filters-small-checkbox">
                    <input type="checkbox" class="catalog__filters-checkmarks-input" name="filter" checked="" />
                    <span class="catalog__filters-checkbox-mark">
                        <svg width="15" height="15" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="catalog__filters-checkbox-text">
                        Круглосуточно
                    </span>
                </label>
                <label class="catalog__filters-checkbox offices__filters-small-checkbox">
                    <input type="checkbox" class="catalog__filters-checkmarks-input" name="filter" checked="" />
                    <span class="catalog__filters-checkbox-mark">
                        <svg width="15" height="15" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="catalog__filters-checkbox-text">
                        Внесение наличных
                    </span>
                </label>
            </div>
        </form>
        <div class="offices__results-views">
            <div class="offices__results-view js-offices-results-view">
                <div class="offices__map-container">
                    <div class="offices__map js-main-offices-map"></div>
                </div>
            </div>
            <div class="offices__results-view js-offices-results-view">
                <div class="offices__list-view-group" data-type="office">
                    <h2 class="offices__list-view-heading">
                        Офисы
                    </h2>
                    <div class="offices__list-view-top-row">
                        <form action="/" class="offices__list-view-search-form">
                            <input type="search" name="q" class="offices__list-view-search-input" placeholder="Поиск адреса" />
                            <button type="submit" class="offices__list-view-search-submit-btn">
                                <svg width="20" height="20" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="offices__work-time">
                            <p class="offices__list-view-feature">
                                Часы работы
                            </p>
                        </div>
                        <div class="offices__currency-course">
                            <p class="offices__list-view-feature">
                                Курс валют
                            </p>
                        </div>
                        <div class="offices__functionality">
                            <p class="offices__list-view-feature">
                                Функционал
                            </p>
                        </div>
                    </div>
                    <div class="offices__list-view-accordions">
                        <div class="offices__list-view-accordion js-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    78
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__features">
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-percent">
                                            <use xlink:href="#percent"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-calculator">
                                            <use xlink:href="#calculator"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-cash">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>

                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-card">
                                            <use xlink:href="#card"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-exchange">
                                            <use xlink:href="#exchange"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-wallet">
                                            <use xlink:href="#wallet"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="office"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    79
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__features">
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-percent">
                                            <use xlink:href="#percent"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-calculator">
                                            <use xlink:href="#calculator"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-cash">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>

                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-card">
                                            <use xlink:href="#card"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-exchange">
                                            <use xlink:href="#exchange"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-wallet">
                                            <use xlink:href="#wallet"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="office"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    82
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__features">
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-percent">
                                            <use xlink:href="#percent"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-calculator">
                                            <use xlink:href="#calculator"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-cash">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>

                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-card">
                                            <use xlink:href="#card"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-exchange">
                                            <use xlink:href="#exchange"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-wallet">
                                            <use xlink:href="#wallet"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="office"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offices__list-view-group" data-type="bankomat">
                    <h2 class="offices__list-view-heading">
                        Банкоматы “Банка Казани”
                    </h2>
                    <div class="offices__list-view-top-row">
                        <form action="/" class="offices__list-view-search-form">
                            <input type="search" name="q" class="offices__list-view-search-input" placeholder="Поиск адреса" />
                            <button type="submit" class="offices__list-view-search-submit-btn">
                                <svg width="20" height="20" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="offices__work-time">
                            <p class="offices__list-view-feature">
                                Часы работы
                            </p>
                        </div>
                        <div class="offices__currency-course">
                            <p class="offices__list-view-feature">
                                Курс валют
                            </p>
                        </div>
                        <div class="offices__functionality">
                            <p class="offices__list-view-feature">
                                Функционал
                            </p>
                        </div>
                    </div>
                    <div class="offices__list-view-accordions">
                        <div class="offices__list-view-accordion js-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    76,30
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__features">
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-percent">
                                            <use xlink:href="#percent"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-calculator">
                                            <use xlink:href="#calculator"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-cash">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>

                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-card">
                                            <use xlink:href="#card"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-exchange">
                                            <use xlink:href="#exchange"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-wallet">
                                            <use xlink:href="#wallet"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="bankomat"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    76,30
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__features">
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-percent">
                                            <use xlink:href="#percent"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-calculator">
                                            <use xlink:href="#calculator"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-cash">
                                            <use xlink:href="#cash"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>

                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-card">
                                            <use xlink:href="#card"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-exchange">
                                            <use xlink:href="#exchange"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                    <span class="offices__features-item">
                                        <svg width="20" height="20" aria-hidden="true" class="icon-wallet">
                                            <use xlink:href="#wallet"></use>
                                        </svg>
                                        <div class="offices__features-item-dropdown">
                                            <div class="offices__features-item-dropdown-content">
                                                Описание функционала
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="bankomat"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
