<section class="products products--business products--other-credits js-products-slider">
    <div class="container">
        <h2 class="products__heading">
            Другие кредитные предложения
        </h2>

        <div class="products__content">
            <div class="products__slider-wrapper">
                
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/products-business-1.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">
                                    Расчетно-кассовое<br />
                                    обслуживание
                                </h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/products-business-2.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/image-3.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">
                                    Банковские <br />
                                    гарантии
                                </h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/products-business-1.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">
                                    Расчетно-кассовое<br />
                                    обслуживание
                                </h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/products-business-2.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="products__card">
                                <span class="products__card-tag">
                                    Кредиты бизнесу
                                </span>
                                <div class="products__card-image-container">
                                    <img src="img/products/image-3.jpg" alt="" class="products__card-image" />
                                </div>
                                <h5 class="products__card-title">
                                    Банковские <br />
                                    гарантии
                                </h5>
                                <div class="products__card-text-content">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                    </p>
                                </div>
                                <div class="products__card-prices">
                                    <div class="products__card-prices-items">
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Откройте расчётный счёт
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    за 5 минут
                                                </p>
                                            </div>
                                        </div>
                                        <div class="products__card-prices-item">
                                            <div class="products__card-prices-card">
                                                <p class="products__card-prices-card-small-text">
                                                    Ведение счета
                                                </p>
                                                <p class="products__card-prices-card-large-text">
                                                    от 500 руб.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__card-links">
                                    <a href="#" class="products__catalog-open-link">
                                        Подробнее
                                    </a>
                                    <a href="#" class="products__card-link-text">
                                        оформить
                                        <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
