<section class="rules js-tabs">
    <div class="container">
        <div class="inner-container">
            <div class="rules__nav">
                <div class="tabs-nav">
                    <a href="#" class="tabs-nav__link js-tabs-nav active">
                        Особые условия
                    </a>
                    <a href="#" class="tabs-nav__link js-tabs-nav">
                        Штрафные санкции
                    </a>   
                </div>
            </div>
            <div class="rules__content">
                <div class="tab-items">
                    <div class="tab-items__item js-tabs-item active">
                        <div class="rules__text">   
                            <p>
                                Для клиентов категории «Зарплатный клиент»: наличие поступлений заработной платы на банковскую карту Банка в течение последних 12 месяцев. В случае, если поступления заработной платы на банковскую карту Банка составляют менее последних 12-ти месяцев, клиенту необходимо предоставить справку по форме 2-НДФЛ/Выписку ИЛС с указанием доходов не менее чем за 12 месяцев. Исключение составляют случаи, когда стаж работы клиента на последнем месте составляет менее 12 месяцев. В этом случае доход должен быть подтвержден за фактически отработанные полные месяцы.
                            </p>
                        </div>
                    </div>
                    <div class="tab-items__item js-tabs-item">
                        <div class="rules__text">   
                            <p>
                                Для клиентов категории «Зарплатный клиент»: наличие поступлений заработной платы на банковскую карту Банка в течение последних 12 месяцев. 
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>