{% if not(title) %} {% set title = "Modern Boilerplate" %} {% endif %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script>
            window.MSInputMethodContext && document.documentMode && document.write('<script src="assets/js/ie11CustomProperties.js"><\x2fscript>');
        </script>
         <script src="assets/js/svgInject.js"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="css/styles.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
        <title>
            {{ title }}
        </title>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=d41198b4-79cf-4ff2-83a6-aaff2a77a15c&lang=ru_RU" type="text/javascript"> 
        </script>
    </head>
    <body class="no-touch {% if navigationText == "dark" %} dark-nav-text {% endif %} {% if mainNav == "dark" %} dark-main-nav {% endif %}" ontouchstart="" data-barba-prevent="all">
        <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
            {% include "sprite.njk" %}
        </div>

        <div class="page-content">
            {% include "partials/header.html" %}

            <main class="page-main">
                {% block content %}{% endblock %}
            </main>

            {% include "partials/footer.html" %}
            {% include "partials/modals.html" %}
            {% include "partials/cookies.html" %}
            {% include "partials/success.html" %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                function initBackendScripts() {
                    // console.log('Здесь прописываем инициализацию скриптов для бэкенда');

                    var applicationForm = document.querySelector('#application-form');

                    if (applicationForm) {
                        applicationForm.addEventListener('submit', function(event) {
                            event.preventDefault();
                            if ($(applicationForm).parsley().isValid()) {
                                document.documentElement.style.setProperty('--progress', "40%");
                                setTimeout(function() {
                                    document.documentElement.style.setProperty('--progress', "100%");
                                    setTimeout(function() {
                                   

                                        document.body.classList.add('global-success-shown')
                                    }, 200)
                                }, 500)
                            }
                        })
                    }



                    var reviewForm = document.querySelector('#review-form');

                    if (reviewForm) {
                        reviewForm.addEventListener('submit', function(event) {
                            event.preventDefault();

                            document.body.classList.add('global-success-shown')
                            var modal = reviewForm.closest('.js-modal');
                            setTimeout(function() {
                                if (window.closeModal) {
                                    window.closeModal(modal);
                                    document.body.classList.remove('global-success-shown')
                                }
                            }, 2000)
                        })
                    }

                    var newApplicationForm = document.querySelector('.js-new-application-form');

                    if (newApplicationForm) {
                        var success = document.querySelector('.form-success');
                        newApplicationForm.addEventListener('submit', function(event) {
                            event.preventDefault();
                            if ($(newApplicationForm).parsley().isValid()) {
                                document.body.classList.add('global-success-shown')
                                setTimeout(function() {
                                    document.body.classList.remove('global-success-shown')
                                    newApplicationForm.reset();
                                    if (newApplicationForm.setStep) {
                                        newApplicationForm.setStep(0);
                                    }
                                }, 7000);
                            }
                        })
                    }


                    const cookiesBtns = [document.querySelector('.cookies__accept'), document.querySelector('.cookies__decline')];

                    cookiesBtns.forEach(btn => {
                        btn.addEventListener('click', event => {
                            event.preventDefault();
                            // console.log('Hiding cookies panel')
                            document.body.classList.add('cookies-panel-hidden')
                        })
                    })



                    var newsSubscription = document.querySelector('#news-subscription');

                    if (newsSubscription) {
                        newsSubscription.addEventListener('submit', event => {
                            event.preventDefault();
                            document.body.classList.add('global-success-shown')
                        })
                    }

                    var successClose = document.querySelector('.success__card-close');

                    if (successClose) {
                        successClose.addEventListener('click', event => {
                            event.preventDefault();
                            document.body.classList.remove('global-success-shown')
                        })
                    }
                }
                function destroyBackendScripts() {
                    // console.log('Здесь прописываем подчистку скриптов для бэкенда')
                }
            </script>
            <script>
                // Пример получения информации с ползунков

                // (function() {
                //     var ranges = Array.prototype.slice.call(document.querySelectorAll('input[type="range"]'));

                //     ranges.forEach(range => {
                //         range.addEventListener('rangeupdate', function(e) {
                //             console.log('new range value', e)
                //         })
                //     })
                // }());
            </script>
            <script src="assets/js/maps.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
            
            <script src="js/app.js"></script>
        </div>
    </body>
</html>
