<div class="cookies">
    <div class="container">
        <div class="inner-container">
            <div class="cookies__row">
                <div class="cookies__message">
                    Разрешить данному сайту обрабатывать данные, согласно
                    <a href="#">
                        Политике обработки данных
                    </a>
                </div>
                <div class="cookies__buttons">
                    <a href="#" class="cookies__accept">
                        Разрешаю
                    </a>
                    <a href="#" class="cookies__decline">
                        Отмена
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
