<footer class="page-footer">
    <div class="container">
        <ul class="page-footer__top-links-list">
            <li class="page-footer__top-links-list-item">
                <a href="#" class="page-footer__top-link">
                    О банке
                </a>
            </li>
            <li class="page-footer__top-links-list-item">
                <a href="#" class="page-footer__top-link">
                    Реквизиты банка
                </a>
            </li>
            <li class="page-footer__top-links-list-item">
                <a href="#" class="page-footer__top-link">
                    Пресс-центр
                </a>
            </li>
            <li class="page-footer__top-links-list-item">
                <a href="#" class="page-footer__top-link">
                    Вакансии
                </a>
            </li>
        </ul>
        <div class="page-footer__row">
            <div class="page-footer__col page-footer__col--nav-1">
                <div class="page-footer__nav">
                    <h5 class="page-footer__nav-heading">
                        Частным лицам
                    </h5>
                    <ul class="page-footer__nav-menu-list">
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Кредиты
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Вклады
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Пластиковые карты
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Онлайн страхование
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Платежи и переводы
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Брокерское обслуживание
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Реализация залогового имущества
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Расчетно-кассовое обслуживание
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--nav-2">
                <div class="page-footer__nav">
                    <h5 class="page-footer__nav-heading">
                        Бизнесу
                    </h5>
                    <ul class="page-footer__nav-menu-list">
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Расчетно-кассовое обслуживание
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Кредиты
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Депозиты бизнесу
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Банковские гарантии
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Пластиковые карты
                            </a>
                        </li>
                        <li class="page-footer__nav-menu-list-item">
                            <a href="#" class="page-footer__nav-menu-link">
                                Онлайн-сервис
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--contacts">
                <div class="page-footer__contacts">
                    <div class="page-footer__contacts-phone-block">
                        <a href="tel:+78007751877" class="page-footer__contacts-phone-link">
                            8-800-77-518-77
                        </a>
                        <p class="page-footer__contacts-phone-free-call">
                            Звонок по России бесплатный
                        </p>
                    </div>
                   
                    <ul class="page-footer__social-list">
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="12" height="22" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook" />
                                </svg>
                            </a>
                        </li>
                        <li class="page-footer__social-list-item">
                            <a href="#" class="page-footer__social-link">
                                <svg width="12" height="22" aria-hidden="true" class="icon-vkontakte">
                                    <use xlink:href="#vkontakte" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="page-footer__offices-link">Офисы и банкоматы</a>
                    <div class="page-footer__internet-bank">
                        <h5 class="page-footer__internet-bank-title">
                            Интернет банк:
                        </h5>
                      
                        <a href="#" class="page-footer__internet-bank-download-link">
                            <img src="img/app-store.png" alt="">
                        </a>
                        <a href="#" class="page-footer__internet-bank-download-link">
                            <img src="img/google-store.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--info page-footer__col--large">
                <div class="page-footer__info">
                    <div class="page-footer__legal-info">
                        Информация о лицах, под контролем которых находится банк; Центр раскрытия корпоративной информации; Информация о максимальных процентных ставках по вкладам физических лиц; Раскрытие информации профессиональным участником рынка ценных бумаг
                    </div>
                    <div class="page-footer__info-row">
                        <div class="page-footer__info-license">
                            © Банк Казани, 2020 <br> Лицензия № 708 от 27.05.2016г, ООО КБЭР “Банк Казани”
                        </div>
                        <a href="#" class="page-footer__made-by">
                            создание сайта <img src="img/mark-weber-logo.svg" alt="" class="page-footer__made-by-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-footer__col page-footer__col--low-vision">
                <div class="page-footer__low-vision">
                    <a href="https://markweber.ru/" class="page-footer__low-vision-link" target="_blank">
                        <svg width="26" height="22" aria-hidden="true" class="icon-glasses">
                            <use xlink:href="#glasses" />
                        </svg>
                        Версия для слабовидящих
                    </a>
                    <a href="#" class="page-footer__old-site-link">
                        Перейти на старую версию сайта
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
