<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="page-header__selects">
                <a href="#" class="page-header__about-bank-link">
                    <div class="page-header__about-bank-link-cross">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    о банке
                </a>
                <div class="page-header__city">
                    <div class="page-header__city-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down" />
                        </svg>
                        Казань
                    </div>
                    <div class="page-header__city-dropdown">
                        <div class="page-header__city-dropdown-inner">
                            <a href="#" class="page-header__city-dropdown-link">Набережные челны</a>
                            <a href="#" class="page-header__city-dropdown-link">Нижнекамск</a>
                            <a href="#" class="page-header__city-dropdown-link">Альметьевск</a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="page-header__phone-block">
                <a href="#" class="page-header__phone-link">
                    8-800-77-518-77
                </a>
                <a href="#" class="page-header__offices-link">
                   
                    офисы и банкоматы
                </a>
            </div>
            
            <div class="page-header__online-bank page-header__online-bank--cards">
                <div class="page-header__online-bank-link">
                    перевод с карты на карту
                </div>
                <div class="page-header__online-bank-dropdown page-header__online-bank-dropdown--btn-width">
                    <div class="page-header__online-bank-dropdown-inner">
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            по номеру телефона
                        </a>
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            по номеру карты
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header__online-bank">
                <div class="page-header__online-bank-link">
                    интернет-банк
                </div>
                <div class="page-header__online-bank-dropdown">
                    <div class="page-header__online-bank-dropdown-inner">
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            физическим лицам
                        </a>
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            юридическим лицам
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header__mobile-nav">
                <div class="page-header__mobile-nav-inner">
                    <form action="/" method="GET" class="page-header__mobile-nav-search-form">
                        <input type="search" name="q" class="page-header__mobile-nav-search-form-input" placeholder="Поиск" />
                        <button type="submit" class="page-header__mobile-nav-search-form-submit">
                            <svg width="15" height="15" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search" />
                            </svg>
                        </button>
                    </form>
                    <div class="page-header__mobile-nav-blocks">
                        <div class="page-header__mobile-nav-block">
                            <h4 class="page-header__mobile-nav-block-title">
                                О банке
                            </h4>
                            <ul class="page-header__mobile-nav-block-list">
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Общая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Реквизиты банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Лицензии и руководство банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Открытая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Карьера
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Устав
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Инсайдерам
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-header__mobile-nav-block">
                            <h4 class="page-header__mobile-nav-block-title">
                                О банке
                            </h4>
                            <ul class="page-header__mobile-nav-block-list">
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Общая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Реквизиты банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Лицензии и руководство банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Открытая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Карьера
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Устав
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Инсайдерам
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
