<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="page-header__selects">
                <!-- <a href="#" class="page-header__about-bank-link">
                    <div class="page-header__about-bank-link-cross">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    о банке
                </a> -->
                <div class="page-header__city">
                    <div class="page-header__city-link">
                        <div class="page-header__about-bank-link-cross">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        О банке
                    </div>
                    <div class="page-header__city-dropdown">
                        <div class="page-header__city-dropdown-inner">
                            <a href="#" class="page-header__city-dropdown-link">Общая информация</a>
                            <a href="#" class="page-header__city-dropdown-link">Реквизиты банка</a>
                            <a href="#" class="page-header__city-dropdown-link">Руководство и лицензии банка</a>
                            <a href="#" class="page-header__city-dropdown-link">Открытая информация</a>
                            <a href="#" class="page-header__city-dropdown-link">Карьера</a>
                            <a href="#" class="page-header__city-dropdown-link">О налогооблажении иностранных счетов</a>
                            <a href="#" class="page-header__city-dropdown-link">Инсайдерам</a>
                        </div>
                    </div>
                </div>
                <div class="page-header__city">
                    <div class="page-header__city-link">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down" />
                        </svg>
                        Казань
                    </div>
                    <div class="page-header__city-dropdown">
                        <div class="page-header__city-dropdown-inner">
                            <a href="#" class="page-header__city-dropdown-link">Набережные челны</a>
                            <a href="#" class="page-header__city-dropdown-link">Нижнекамск</a>
                            <a href="#" class="page-header__city-dropdown-link">Альметьевск</a>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="page-header__phone-block">
                <a href="#" class="page-header__phone-link">
                    8-800-77-518-77
                </a>
              
            </div>
            
            <div class="page-header__online-bank page-header__online-bank--cards">
                <a href="#" class="page-header__online-bank-link">
                    <svg width="16" height="22" aria-hidden="true" class="icon-location">
                        <use xlink:href="#location" />
                    </svg>
                    офисы и банкоматы
                </a>
               
            </div>
            <div class="page-header__online-bank">
                <div class="page-header__online-bank-link">
                    интернет-банк
                </div>
                <div class="page-header__online-bank-dropdown">
                    <div class="page-header__online-bank-dropdown-inner">
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            Физическим лицам
                        </a>
                        <a href="#" class="page-header__online-bank-dropdown-link">
                            Юридическим лицам
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header__contacts js-page-header-contacts">
                <button class="page-header__contacts-btn">
                    <svg width="16" height="16" aria-hidden="true" class="icon-message">
                        <use xlink:href="#message" />
                    </svg>
                    <svg width="16" height="16" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#cross" />
                    </svg>
                </button>
                <div class="page-header__contacts-dropdown">
                    <div class="page-header__contacts-dropdown-inner">
                        <a href="#" class="page-header__contacts-link" style="--social-bg-color: #25D366" ie-style="--social-bg-color: #25D366" title="WhatsApp">
                            <svg width="16" height="16" aria-hidden="true" class="icon-whatsapp">
                                <use xlink:href="#whatsapp" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__contacts-link" style="--social-bg-color: #38A6DB" ie-style="--social-bg-color: #38A6DB" title="Telegram">
                            <svg width="16" height="16" aria-hidden="true" class="icon-telegram">
                                <use xlink:href="#telegram" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__contacts-link" style="--social-bg-color: #7360F2" ie-style="--social-bg-color: #7360F2" title="Viber">
                            <svg width="16" height="16" aria-hidden="true" class="icon-messanger">
                                <use xlink:href="#messenger" />
                            </svg>
                        </a>
                        <a href="#" class="page-header__contacts-link" style="--social-bg-color: #6C2F7C" ie-style="--social-bg-color: #6C2F7C" title="Email">
                            <svg width="16" height="16" aria-hidden="true" class="icon-letter">
                                <use xlink:href="#letter" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-header__mobile-nav">
                <div class="page-header__mobile-nav-inner">
                    <form action="/" method="GET" class="page-header__mobile-nav-search-form">
                        <input type="search" name="q" class="page-header__mobile-nav-search-form-input" placeholder="Поиск" />
                        <button type="submit" class="page-header__mobile-nav-search-form-submit">
                            <svg width="15" height="15" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search" />
                            </svg>
                        </button>
                    </form>
                    <div class="page-header__mobile-nav-blocks">
                        <div class="page-header__mobile-nav-block">
                            <h4 class="page-header__mobile-nav-block-title">
                                О банке
                            </h4>
                            <ul class="page-header__mobile-nav-block-list">
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Общая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Реквизиты банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Лицензии и руководство банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Открытая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Карьера
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Устав
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Инсайдерам
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-header__mobile-nav-block">
                            <h4 class="page-header__mobile-nav-block-title">
                                О банке
                            </h4>
                            <ul class="page-header__mobile-nav-block-list">
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Общая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Реквизиты банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Лицензии и руководство банка
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Открытая информация
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Карьера
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Устав
                                    </a>
                                </li>
                                <li class="page-header__mobile-nav-block-list-item">
                                    <a href="#" class="page-header__mobile-nav-block-link">
                                        Инсайдерам
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
