<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="page-header__selects">
                <div class="page-header__about-bank">
                    <div class="page-header__about-bank-text">
                        <svg width="14" height="14" aria-hidden="true" class="icon-small-burger">
                            <use xlink:href="#small-burger" />
                        </svg>
                        о банке
                    </div>
                    <div class="page-header__about-bank-dropdown">
                        <div class="page-header__about-bank-dropdown-inner">
                            <a href="#" class="page-header__about-bank-dropdown-link">Ссылка 1</a>
                            <a href="#" class="page-header__about-bank-dropdown-link">Ссылка 2</a>
                            <a href="#" class="page-header__about-bank-dropdown-link">Ссылка 3</a>
                        </div>
                    </div>
                </div>
                <div class="page-header__city">
                    <div class="page-header__city-text">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                            <use xlink:href="#arrow-down" />
                        </svg>
                        Казань
                    </div>
                    <div class="page-header__city-dropdown">
                        <div class="page-header__city-dropdown-inner">
                            <a href="#" class="page-header__city-dropdown-link">Нижнекамск</a>
                            <a href="#" class="page-header__city-dropdown-link">Набережные челны</a>
                            <a href="#" class="page-header__city-dropdown-link">Альметьевск</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="page-header__phone-link">
                8-800-77-518-77
            </a>
            <a href="#" class="page-header__offices-link">
                <svg width="15" height="20" aria-hidden="true" class="icon-location">
                    <use xlink:href="#location" />
                </svg>
                офисы и банкоматы
            </a>
            <a href="#" class="page-header__online-bank-link">
               
                интернет-банк
            </a>
        </div>
    </div>
</header>
