<div class="modal js-modal" id="testmodal">
    <div class="modal__inner">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper">
            <h1 class="article__main-heading">
                Заголовок попапа
            </h1>
            <div class="article__description">
                <p>
                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                </p>
            </div>
            <div class="article__content modal__content">
                <figure>
                    <img src="img/modal-photo.jpg" alt="" />
                    <figcaption style="text-align: center;">Подпись к фотографии</figcaption>
                </figure>
                <h2>
                    Заголовок H2
                </h2>
                <p>Оформление <a href="#">финансируемого контракта</a> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                <p>
                    До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы, Клиентом
                    направляется реестр планируемого расходования средств.
                </p>
                <p>
                    Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                </p>
                <h3>
                    Заголовок H3
                </h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Название столбца
                            </th>
                            <th>
                                Название второго столбца
                            </th>
                            <th>
                                Название третьего столбца
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                минимальная сумма
                            </th>
                            <td>
                                <div class="text">
                                    <span class="amount">
                                        500 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Максимальная сумма
                            </th>
                            <td>
                                <span class="text">
                                    <span class="amount">
                                        2 000 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                    <p>
                                        Без обеспечения
                                    </p>
                                </span>
                            </td>
                            <td>
                                <span class="text">
                                    <span class="amount">
                                        10 000 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                    <p>
                                        при поручительстве субъектов поддержки предпринимательства
                                    </p>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Срок кредита
                            </th>
                            <td>
                                <div class="text">
                                    <b>6 месяцев</b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Процентная ставка по кредиту
                            </th>
                            <td>
                                <div class="text">
                                    <b>
                                        13,5 % годовых
                                    </b>
                                    <svg width="20" height="20" aria-hidden="true" class="icon-info">
                                        <use xlink:href="#info"></use>
                                    </svg>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Процентная ставка по кредиту
                            </th>
                            <td>
                                <div class="text">
                                    <b>
                                        0,3%, но не менее 5 000 рублей
                                    </b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <h3>
                    Заголовок списка H3
                </h3>
                <div class="article__lists-group">
                    <ul>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ul>
                    <ol>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
