.application {
    margin-bottom: 7rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.application__form {
    padding-top: 6rem;
    padding-left: 6.6rem;
    padding-right: 9rem;
    padding-bottom: 7.4rem;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    position: relative;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    // overflow: hidden;

    box-shadow: 0 0.5rem 1rem rgba(black, 0.05);
    @include breakpoint(mobile) {
        padding: 2.5rem 2rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }
}

.application__form-heading {
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
    color: #000000;
    margin-bottom: 5.8rem;
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }
}

.application__form-progress {
    position: absolute;
    left: -1px;
    top: 0;
    right: -1px;

    height: 1rem;
    background: #f0f0f0;

    @include breakpoint(mobile) {
        height: 0.5rem;
    }
}

.application__form-progress-bar {
    width: 100%;
    height: 100%;
    // --progress: 40%;
    transition: transform 0.4s, clip-path 0.4s;
    transform-origin: left center;

    background: linear-gradient(250.44deg, #9546aa 14.49%, #d98bed 129.54%);
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/progressbar-bg.svg');
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-position: left center;
    }

    clip-path: polygon(0% 0%, var(--progress, 0%) 0%, var(--progress, 0%) 100%, 0% 100%);
}

.application__form-fields {
    display: flex;
    flex-direction: column;
}

.application__form-fields-group {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.application__form-label {
    display: flex;
    align-items: flex-start;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.appliaction__form-label-text {
    width: 37rem;
    padding-right: 2rem;
    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
    }
}

.application__form-input-wrapper {
    width: 30%;
    flex-grow: 1;
    position: relative;
    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
    }
    .icon-success {
        width: 2.5rem;
        height: 2.5rem;
        fill: #94c22b;
        position: absolute;
        right: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
            right: 1.3rem;
        }
    }

    .parsley-errors-list {
        color: var(--primary-color);
        font-size: 1.4rem;

        color: rgb(185, 14, 14);
    }
    .parsley-errors-list.filled {
        margin-top: 0.5rem;
    }

    .range-slider__element-wrapper {
        height: 6.2rem;
        @include breakpoint(mobile) {
            height: 4rem;
        }
    }
}

.appliaction__form-label-text {
    font-size: 2rem;
    line-height: 130%;
    margin-top: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.application__form-input {
    width: 100%;
    font: inherit;
    font-weight: 500;
    font-size: 2.2rem;
    height: 6.2rem;
    padding-left: 2.4rem;
    padding-right: 6.4rem;
    background: #f5f5f5;
    border-radius: 0.4rem;
    transition: background-color 0.2s, border-color 0.2s;
    background-image: none !important;
    border: 1px solid transparent;

    display: block;
    &.parsley-success {
        background: #e6f6c1;
        & ~ .icon-success {
            opacity: 1;
        }
    }

    &.parsley-error {
        border-color: rgb(185, 14, 14);
    }

    @include placeholder {
        color: #b8b8b8;
    }

    @include breakpoint(mobile) {
        height: 4rem;
        font-size: 16px;
        padding-left: 1.3rem;
    }
}

.application__form-submit {
    align-self: flex-end;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    padding: 2.2rem 1.8rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
    transition: background-color .2s;

    &:hover {
        background-color: var(--primary-color-hover);
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 1.5rem 1.6rem;
        border-radius: 0.8rem;
    }
}

.application__form-success {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fff;
    z-index: 50;
    border: 1px solid var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    .success-shown & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
    @include breakpoint(mobile) {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }
}

.application__form-success-row {
    display: flex;
    flex-grow: 1;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-grow: 1;
    }
}

.application__form-success-left-col,
.application__form-success-right-col {
    width: 50%;
    flex-direction: column;
    display: flex;

    @include breakpoint(mobile) {
        width: 100%;

        flex-basis: 50%;
    }
}

.application__form-success-heading {
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4.6rem;
    margin-bottom: 4rem;
    color: var(--primary-color);

    img {
        width: 2.2rem;
        height: 2.2rem;
        display: inline-block;
        margin-left: 1rem;

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .application__form--small & {
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;

        .application__form--small & {
            font-size: 2.2rem;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
}

.application__form-success-text {
    font-size: 1.8rem;
    line-height: 3.4rem;
    margin-bottom: 6rem;
    color: #959595;

    .application__form--small & {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.3rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
        .application__form--small & {
            font-size: 1.6rem;
            line-height: 1.2;
            margin-bottom: 2.4rem;
        }
    }
}

.application__form-success-return-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    display: inline-flex;
    align-self: flex-start;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    flex-shrink: 0;
    background-color: var(--primary-color);
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: var(--secondary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
        padding: 1.6rem 2rem;
        border-radius: 0.8rem;
    }
}

.application__form-success-left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;

    .application__form--small & {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        padding: 3rem;

        .application__form--small & {
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.application__form-success-right-col {
    background-color: var(--primary-color);
    color: white;
    position: relative;
    z-index: 1;
    padding: 8rem 7rem;
    display: flex;
    flex-direction: column;
    .application__form--small & {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        padding: 3rem 3rem;
        flex-grow: 1;

        .application__form--small & {
            display: none;
        }
    }
}

.application__form-success-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();

    z-index: -1;
}

.application__form-success-right-heading {
    font-weight: bold;
    font-size: 5rem;
    line-height: 120%;
    margin-bottom: 3rem;

    .application__form--small & {
        font-size: 2.8rem;
        line-height: 120%;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}

.application__form-success-marketplace-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.application__form-success-marketplace-link {
    display: block;
    margin-bottom: 2.7rem;
    &:last-child {
        margin-bottom: 0 !important;
    }

    .application__form--small & {
        margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
    }
}

.application__form-success-marketplace-link-image {
    height: 6.7rem;
    flex-shrink: 0;
    display: block;
    width: auto;

    .application__form--small & {
        height: 5.2rem;
    }

    @include breakpoint(mobile) {
        height: 4rem;
    }
}
