.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    z-index: 800;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    max-height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 3rem 0;
    overscroll-behavior: contain;
    &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s, visibility 0.4s;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.modal__inner {
    // max-height: 100%;
    // overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;
    position: relative;
    max-width: 123.3rem;
    width: 100%;
    margin: auto;
}

.modal__close-btn {
    position: absolute;
    right: 2.8rem;
    top: 2.8rem;
    width: 4.8rem;
    height: 4.8rem;
    background: #f7f7f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    svg {
        width: 2.2rem;
        height: 2.2rem;
        fill: #d5d5d5;
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &:hover {
        background-color: var(--primary-color);
        svg {
            fill: white;
        }
    }

    .low-vision & {
        background-color: black !important;

        svg {
            fill: white !important;
        }
    }

    @include breakpoint(mobile) {
        right: 1.5rem;
        top: 1.5rem;
        width: 4rem;
        height: 4rem;
    }
}

.modal__content-wrapper {
    padding: 7.5rem;
    padding-top: 6.5rem;
    background-color: #fff;
    color: black;
    border-radius: 1rem;


    .low-vision & {
        border: 1px solid black;
    }
    @include breakpoint(mobile) {
        padding: 5rem var(--content-padding);
        padding-top: 6rem;
        border-radius: 0;
    }
}

.modal__content {
    padding: 0;
}

.open-modal-test-btn {
    color: white;
    padding: 2.2rem 2.4rem;
    background-color: var(--primary-color);
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    margin-right: 1.8rem;
    display: inline-flex;
    user-select: none;
    margin-bottom: 5rem;
    &--violet {
        background-color: var(--secondary-color);
    }
    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1rem;
        right: 0;
        line-height: 120%;
        margin-right: auto;
        border-radius: 0.4rem;
        padding: 1.4rem 1.5rem;

        margin-right: 1.2rem;
    }
}

.modal__table-heading {
    font-weight: 550;
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.modal__table {
    table {
        width: 100%;
        border-collapse: collapse;
        @include breakpoint(mobile) {
            display: block;
        }

        th,
        td {
            padding: 2.5rem 0;
            padding-right: 2.5rem;
            text-align: left;
            vertical-align: top;
            border-bottom: 1px solid #dadada;
            &:first-child {
                max-width: 32rem;
                width: 32rem;
                @include breakpoint(mobile) {
                    max-width: none;
                    width: auto;
                }
            }

            @include breakpoint(mobile) {
                display: block;
                padding: 0;
                border: none;

                &[colspan="2"] {
                    grid-column: span 2;
                }
            }
        }

        tbody,
        thead {
            @include breakpoint(mobile) {
                display: block;
            }
        }

        th {
        }

        tr.with-divider th,
        tr.with-divider td {
            border-bottom: 0.6rem solid #cae195;
            @include breakpoint(mobile) {
                border-bottom: none;
            }
        }

        tr {
            @include breakpoint(mobile) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1rem;
                grid-row-gap: 0.5rem;
                margin-bottom: 3rem;
            }
        }

        tr:last-child {
            td,
            th {
                border-bottom: none;
            }
        }

        th {
            font-weight: 500;
            font-size: 1.4rem;
            color: #717171;
            text-transform: uppercase;
            line-height: 130%;
            @include breakpoint(mobile) {
                grid-column: span 4;
                padding: 0;
                font-size: 1.2rem;
            }
        }

        td {
            font-weight: 500;
            font-size: 2rem;

            line-height: 130%;

            &[colspan='4'] {
                grid-column: span 4;
            }

            @include breakpoint(mobile) {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.6rem;
                color: #717171;
                line-height: 130%;
                font-weight: 400;
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
                @include breakpoint(mobile) {
                    font-size: 1.4rem;
                }
            }

            .remark {
                font-size: 1.6rem;
                color: #717171;
                margin-bottom: 0.9rem;
                line-height: 130%;
                font-weight: 400;
                display: block;
                @include breakpoint(mobile) {
                    font-size: 1.2rem;
                    margin-bottom: 0.3rem;
                }
            }

            ul {
                font-weight: 40;
                li {
                    margin-bottom: 1.5rem;
                    padding-left: 2.7rem;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    @include breakpoint(mobile) {
                        padding-left: 1.8rem;
                        margin-bottom: 0.8rem;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0.65rem;
                        width: 8px;
                        height: 8px;
                        background-color: var(--primary-color);
                        border-radius: 50%;
                        @include breakpoint(mobile) {
                            width: 6px;
                            height: 6px;
                            top: 6px;
                        }
                    }
                }
            }
        }
    }
}


.modal__rating-form {
    display: flex;
    flex-direction: column;
}

.modal__rating-form-textarea {
    background-color: #f5f5f5;
    padding: 1.6rem;
    font-size: 16px;
    line-height: 1.2;
    height: 15rem;
    resize: none;
    border-radius: 0.4rem;
    margin-bottom: 1.8rem;
}

.modal__rating-form-choose-rating {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;
    color: #959595;

    .rating__form {
        margin-left: 2.5rem;
    }
}



.modal__rating-submit {
    margin-left: auto;
}


.modal__rating-form-message {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    color: var(--primary-color);

    display: none;


    form.success & {
        display: flex;
    }
}