{% set title = "Банк Казани - Главная страница" %}
{% set activePage = "Home"  %}
{% extends "layout.html" %}
{% block content %}
    {% include "blocks/navigation-block.html" %}
    <div data-barba="wrapper">
        <div data-barba="container" data-barba-namespace="home">
            <div class="container">
                <h1>
                    Бизнес<br> Бизнес
                    <br>
                    Бизнес
                </h1>
            </div>
        </div>
    </div>
{% endblock %}