.container {
    width: auto;
    max-width: var(--max-container-width);
    box-sizing: content-box;
    // max-width: calc(var(--max-container-width, 1200px) + (var(--content-padding, 20px) * 2));
    margin: 0 auto;
    padding: 0 var(--content-padding);



    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

   
    

    & > * {
        box-sizing: border-box;
    }


    &--flex {
        display: flex;
    }

    &--align-items-center {
        align-items: center;
    }

    &--flex-direction-column {
        flex-direction: column;
    }

    &--flex-grow {
        flex-grow: 1;
    }
}



.inner-container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-inner-container-width);
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
