.tabs-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        overflow-y: hidden;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        margin: -1rem calc(-1 * var(--content-padding));
        padding: 1rem var(--content-padding);
        &::after {
            content: '';
            flex-shrink: 0;
            height: 1px;
            width: var(--content-padding);
            
        }
    }
}

.tabs-nav__link {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    transition: background-color 0.2s, color 0.2s;
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 2rem;
    margin-bottom: .8rem;
    .tabs-nav--compact & {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-right: 0.5rem;
        @include breakpoint(mobile) {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 120%;
            padding: .6rem 1rem;
            border-radius: .4rem;
            margin-right: .5rem;
        }
    }
    &:link,
    &:visited {
        color: inherit;
    }

    &.active,
    &:hover {
        background: #ecf3dc;
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        padding: .6rem 1rem;
        border-radius: .4rem;
        margin: 0;
        margin-right: .5rem;
    }
}
